/* 
The code below ensures that all elements are sized in this more intuitive way. Many browsers already use box-sizing: border-box; for many form elements (but not all - which is why inputs and text areas look different at width: 100%;).
 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color:hsl(210, 13%, 50%);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}